@model AvlZen.Models.ContactFormModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bgTan divBdr">
            <p class="myListHeader">AVL Zen provides a portal to yoga classes available on any given day here in Asheville.</p>
            <p>
                The schedule detail is taken from information already on the web.
                Every attempt is made to make sure that information is displayed accurately,
                but for instructor substitutions, class cancellations, etc.,
                please follow the given links to the studio's web site for scheduling verification.
            </p>
            <p>
                If you see any <strong>errors</strong>, know of any <strong>other studios</strong> with monthly schedules or have <strong> comments or suggestions</strong>,
                please use the form below or email us directly at <a href="mailto:info@avlzen.com">info@avlzen.com</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bgTan divBdr">
            <p class="myListHeader">For questions, suggestions and corrections regarding the AVL Zen site:</p>
            @*<address>*@
                <strong>Contact:</strong> <a href="mailto:info@avlzen.com">info@avlzen.com</a>
                <p>...or use this form:</p>
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { id = "contact-form" }))
                {
                    <fieldset>
                        <p>Name (optional)<br />
                            @Html.TextBoxFor(model => model.Name)
                        </p>
                        <p>Email (optional)<br />
                            @Html.TextBoxFor(model => model.Email)
                        </p>
                        <p>Message (required)<br/>
                        @Html.TextAreaFor(model => model.Message, new { style = "width:100%"})
                        </p>
                        @*<input class="form-button" data-type="reset" value="Clear" />*@
                        <input class="btn bgMaroon whiteText" data-type="submit" type="submit" value="Send" />
                    </fieldset>
                }
            @*</address>*@
        </div>
        <div class="col-md-4 col-md-offset-5 bgTan divBdr">
            @*<div class="myTitle">Yoga Studios</div>*@
            @*<div class="bgTan divBdr">*@
                <p class="myListHeader">For details and last-minute information about studios:</p>
                @if (Model.PlacesModel != null)
{
    <div class="table-responsive table-scrollable">
        <table class="table table-striped table-condensed table-responsive">
            <tr>
                <th>Studio</th>
                <th>AVL Zen Code</th>
            </tr>
            @foreach (var p in Model.PlacesModel.Places.OrderBy(p => p.Name))
            {
                <tr>
                    <td><a href="@p.Link" target="_blank">@p.Name</a></td>
                    <td>@p.Code</td>
                </tr>
            }
        </table>
    </div>
                    <p>@(Model.PlacesModel.Places.Count()) studios.</p>
                }
                else
                {
                    <div>no Model.Classes</div>
                }
            @*</div>*@
        </div>
    </div>
</div>
