@model AvlZen.Models.ScheduleFilterModel
@{
    ViewBag.Title = "AVLZen";
}
<script type="text/javascript">
    function checkAll() {
        if ($("#checkAll1").is(':checked'))
            $("#studioCheckboxes :input").each(function () { this.checked = true; });
        else
            $("#studioCheckboxes :input").each(function () { this.checked = false; });
    }
</script>

<div class="bumpBoot wholePage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 bgTan divBdr">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    @Html.DropDownList("DOW", Model.DaysList);
                    <br/>
                    <input type="checkbox" id="checkAll1" onclick="checkAll()" /><label for="checkAll1"> select all</label><br/>
                    <div id="studioCheckboxes">
                        @Html.EditorFor(x => x.SelectionPlaces)
                    </div>
    <input type="submit" value="Refresh" class="btn bgMaroon whiteText" />
                }
                <br />
                <p><small>Select the day-of-week and studios of interest then press Refresh.</small></p>
                <p class="whiteText"><small>Please click on studio links in the list for subs and/or class cancellation news.</small></p>
            </div>
            <div class="col-md-9">
                <div class="myTitle">
                    @*<img src="Content/Om.svg" width="38" />*@
                    @*<span class="brandFont">AVL Zen</span> - <span class="myFont">a portal to Asheville Yoga Classes</span></div>*@
                    <span class="brandFont">AVL Zen</span> - <span class="myFont">a portal to Asheville Yoga Classes</span>
                </div>
                    <div class="bgTan divBdr">
                        <p class="myListHeader"><strong>@(Model.DOW)</strong> - @(Model.Classes.Count()) classes.</p>
                        @if (Model.Classes != null)
                        {
                            <table class="table table-striped table-condensed table-responsive">
                                <tr>
                                    <th>Begins</th>
                                    <th>Ends</th>
                                    <th>Studio</th>
                                    <th>Class</th>
                                    <th>Instructor</th>
                                </tr>
                                @foreach (var c in Model.Classes.OrderBy(c => c.Start).ThenBy(c => c.PlaceCode))
                                {
                                    var place = Model.Places.Where(p => p.Code == c.PlaceCode).Single();
                                    <tr>
                                        <td class="timeOfDay">@c.Start.ToString("t").ToLower().Replace(' ', '\0')</td>
                                        <td class="timeOfDay">@c.Stop.ToString("t").ToLower().Replace(' ', '\0')</td>
                                        <td><a href="@place.Link" target="_blank">@c.PlaceCode</a></td>
                                        <td>@c.What</td>
                                        <td>@c.Who</td>
                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <div>no Model.Classes</div>
                        }
                    </div>
            </div>
            @*<div class="col-md-3 ads divBdr">*@
        </div>
    </div>
</div>


